venv/
*.pyc
*.pyo
.idea/
output/
ABC/population_modules.so
ABC_input_files/*/population_modules.so
ABC_input_files/input_files_gen_LV_four/
ABC_input_files/input_files_three_strain_0/
ABC_input_files/input_files_gen_LV_four_chemostat/
ABC_input_files/input_files_gen_LV/
ABC_input_files/input_files_gen_LV_five_chemostat_0/
ABC_input_files/input_files_gen_LV_four_chemostat_3.tar.xz
ABC_input_files/input_files_gen_LV_four_chemostat_3/
ABC_input_files/input_files_sprott_LV/
ABC_input_files/input_files_sprott_LV_SMC_large/
ABC_input_files/input_files_sprott_LV_SMC_small/
ABC_input_files/params_354.csv
ABC_input_files/species_354.csv
ABC_input_files/species_354.csv
Source.gv
Source.gv.pdf
build_gen_LV_five_chemostat.sh
build_sprott_LV.sh
build_sprott_LV_small.sh
config_files/ABC_LV_sprott.yaml
config_files/ABC_LV_sprott_small.yaml
config_files/ABC_gen_LV_five_chemostat.yaml
config_files/ABC_gen_LV_four_chemostat_3.yaml
config_files/ABC_gen_LV_four_chemostat_3_1.yaml
config_files/ABC_gen_LV_four_chemostat_3_5.yaml
config_files/ABC_sprott_LV.yaml
config_files/ABC_three_strain_chaos.yaml
config_files/DA_gen_four_chem_3.yaml
config_files/MSG_one_strain_crossfeed.yaml
config_files/MSG_three_strain_chaos.yaml
data_analysis_LV/
nohup.out
sampled_models.csv
test_regressor.py
tree.dot
ABC/cliff_finder.py

