venv/
*.pyc
*.pyo
.idea/
output/
ABC/population_modules.so
ABC_input_files/*/population_modules.so
ABC_input_files/input_files_gen_LV_four/
ABC_input_files/input_files_three_strain_0/
ABC_input_files/input_files_gen_LV_four_chemostat/
ABC_input_files/input_files_gen_LV/